# This app keep all state in memory but periodically can unload some information to file.
# Basically it is one of ways to et information about users
statePath: /var/lib/parental-control

# The param allows to use http interface getting reports The param works if parental-control-web is set up
httpEnable: true

# The param works if parental-control-web is set up
httpPort: 8090

# Interface where UI will be available. The param works if parental-control-web is set up
httpInterface: 127.0.0.1

# PAth to http static content, like html pages and JS scripts
httpStaticPath: /usr/share/parental-control

users:
  - login: dummy-user             # System login / user name
    timeLimit: 180                # Daily time limit (minutes)
    noticePeriod: 5               # Notice period is the time period between the sending message and the killing of a user (minutes)
    
    # Format of time should be HH:mm (2 digits per hour and minute fields), like
    #  07:01 (not 7:1)
    #  13:06
    #  17:38
    #  00:00 (not 0:0)
    schedule:
      mon:
        - start: 00:00
          end: 23:59
      tue:
        - start: 00:00
          end: 23:59
      wed:
        - start: 00:00
          end: 23:59
      thu:
        - start: 00:00
          end: 23:59
      fri:
        - start: 00:00
          end: 23:59
      sat:
        - start: 00:00
          end: 23:59
      sun:
        - start: 00:00
          end: 23:59