on: [push]
name: build
jobs:
  build-linux-verson:
    name: Linux build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache of Stack
        uses: actions/cache@v2
        with:
          path: ~/.stack
          key: ${{ runner.os }}

      - run: cd schedule-daemon && stack build --test --copy-bins
      - run: cd web-ui && npm install && npm run build
      - run: sudo apt-get update && sudo apt-get -y install alien
      - run: ./build-deb-schedule              # build package for schedule daemon
      - run: ./build-deb-web                   # build package for web interface
      - run: ./build-deb-all                   # build bundle with schedule daemon web interface
      # - uses: actions/upload-artifact@v2
      #   with:
      #     name: parental-control-linux
      #     path: |
      #       dist/*.rpm
      #       dist/*.deb
      - name: Assets Uploading # https://gist.github.com/joncardasis/e6494afd538a400722545163eb2e1fa5
        run: |
          cp dist/*.rpm ./
          cp dist/*.deb ./
          git config --global user.name 'Automation'
          git config --global user.email 'your-username@users.noreply.github.com'
          git checkout --orphan linux-assets
          git rm -rf .
          git add *.rpm *.deb
          git commit -m "Linux assets"
          git push -f origin linux-assets

  build-windows-verson:
    name: Windows build
    runs-on: windows-2019
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Cache of Stack
        uses: actions/cache@v2
        with:
          path: ~\AppData\Roaming\stack
          key: ${{ runner.os }}
      - run: cd schedule-daemon && stack build --test --copy-bins
      - name: Prepare files for contribution
        shell: cmd
        run: .\build-windows.bat
      - name: Create installer
        uses: joncloud/makensis-action@v3.6
        with:
          arguments: "/V3"
          script-file: "parental-control.nsi"
        #- uses: actions/upload-artifact@v2
        # with:
        #   name: parental-control-windows
        #   path: |
        #     parental-control-setup.exe
      - name: Assets Uploading # https://gist.github.com/joncardasis/e6494afd538a400722545163eb2e1fa5
        run: |
          git config --global user.name 'Automation'
          git config --global user.email 'your-username@users.noreply.github.com'
          git checkout --orphan windows-assets
          git rm -rf .
          git add parental-control-setup.exe
          git commit -m "Windows assets"
          git push -f origin windows-assets